body {
  background-color: lightblue;
}

// <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name

.libre-baskerville-<uniquifier> {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
}
